[submodule "src/vbcc"]
	path = src/vbcc
	url = git://github.com/kusma/vbcc.git
[submodule "src/vasm"]
	path = src/vasm
	url = git://github.com/kusma/vasm.git
[submodule "src/vlink"]
	path = src/vlink
	url = git://github.com/kusma/vlink.git
